<section id="relume" class="px-[5%] py-16 md:py-24 lg:py-28">
  <div class="container">
    <div class="flex flex-col items-start">
      <div>
        <div class="mx-auto mb-12 w-full max-w-lg items-start justify-between gap-5 md:mb-18 lg:mb-20">
          <h2
            class="text-center text-4xl leading-[1.2] font-bold md:text-5xl lg:text-6xl"
          >
            {{ post.features_title }}
          </h2>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-y-12 md:gap-x-8 md:gap-y-16 max-w-5xl mx-auto place-items-center">
          {% for item in post.feature %}
          <div class="w-full text-center">
            <div class="rb-5 mb-5 flex justify-center md:mb-6">
              {{ item.icon }}
            </div>
            <h3 class="mb-3 text-center text-xl font-bold md:mb-4 md:text-2xl">
              {{ item.title }}
            </h3>
            <p class="text-center">
              {{ item.description }}
            </p>
            {% if item.button_cta and item.button_link %}
            <div class="mt-6 flex justify-center md:mt-8">
              <a
                href="{{ item.button_link }}"
                class="rounded-button inline-flex items-center justify-center whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border-0 text-text-primary gap-2 bg-transparent p-0"
              >
                {{ item.button_cta }}<svg
                  stroke="currentColor"
                  fill="none"
                  stroke-width="0"
                  viewBox="0 0 15 15"
                  height="1em"
                  width="1em"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M6.1584 3.13508C6.35985 2.94621 6.67627 2.95642 6.86514 3.15788L10.6151 7.15788C10.7954 7.3502 10.7954 7.64949 10.6151 7.84182L6.86514 11.8418C6.67627 12.0433 6.35985 12.0535 6.1584 11.8646C5.95694 11.6757 5.94673 11.3593 6.1356 11.1579L9.565 7.49985L6.1356 3.84182C5.94673 3.64036 5.95694 3.32394 6.1584 3.13508Z"
                    fill="currentColor"
                  ></path>
                </svg>
              </a>
            </div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
